.boxA {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.boxB {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.boxP {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  left: 0;
}

.boxQ {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  right: 0;
}
.boxR {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
}
.boxS {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  right: 0;
  bottom: 0;
}

.method1 div {
  color: green;
}

.method2 div {
  color: red;
}

.method3 div {
  color: purple;
}
